.DS_Store
tramp
elpa/
straight/repos
straight/build
straight/build-cache.el
straight/modified
project*
transient
org-roam.db
eln-cache
auto-save-list
.org-id-locations
bookmarks
.emacs.desktop
.cache
eshell
session.*
.lsp-session-*
.dap-breakpoints
tree-sitter
result
recentf
history
tabsession.el
lsp-bridge/
dev-profile*
mind-wave/
url/
request/
devdocs/
undo-fu-session/
places
ielm-history.eld
